#messenger{
    display: flex;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 2px solid black;
    border-radius: 12px;
    overflow-y: scroll;
}
.message_1{
    width: 130px;
    height: auto;
    position: relative;
    margin: 10px;
    padding: 5px;
    left: 100px;
    border: 0px solid black;
    border-radius: 12px;
    background-color: rgb(22, 192, 178);
}
.message_2{
    width: 130px;
    height: auto;
    position: relative;
    margin: 10px;
    padding: 5px;
    right: 100px;
    border: 0px solid black;
    border-radius: 12px;
    background-color: rgb(18, 187, 12);
}
#send_message{
    margin: 20px;
}